<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Working From Home?</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/Bootstrap.css")
        <style>
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>
        @Styles.Render("~/Content/Bootstrap-responsive.css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
            <div class="navbar navbar-fixed-top">
              <div class="navbar-inner">
                <div class="container">
                  <a class="brand" href="#">Are You Working From Home?</a>
                  <div class="nav pull-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                  </div>
                </div>
              </div>    	
	        </div>


        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="span6 offset3" style="text-align:center">
                <small style="color:#BBB">&copy; @DateTime.Now.Year - SRT Solutions
                </small>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
