@model WFH.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<div class="container">
    <div class="hero-unit">
        <h1>@ViewBag.Title.</h1>
        <h2>Use this form to enter your user name and password.</h2>
    </div>

    <div class="row">
        <div class="offset4 span4" style="text-align:center">
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
            @Html.ValidationSummary(true, "Log in was unsuccessful. Please correct the errors and try again.")

            <fieldset>
                <div>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                </div>
                <div>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                </div>
                <div>
                    @Html.CheckBoxFor(m => m.RememberMe) Remember Me?
                </div>
                <input type="submit" value="Log in" />
            </fieldset>
            <p>
                @Html.ActionLink("Register", "Register") if you don't have an account.
            </p>
        }
        </div>
    </div> 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
